{:port 58615
 :ami {:host ""
       :username ""
       :password ""}
 ;; :location-prefix "SIP/"
 ;; :originate-context "default"
 ;; :redirect-context "default"
 ;; :poll-timeout-seconds 30
 ;; :unsub-delay-seconds 15
 }
